.App {
  text-align: center;
}

.image-placeholder {
  z-index: 2;
}

img {
  max-width: 90%;
  max-height: 90vh;
}
.Results {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 640px) {
  .App {
    flex-direction: column;
  }
}
